@model CuaHangHoa.Models.SanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="myaccount-content">
    <h3>Chi tiết sản phẩm</h3>
    <div class="account-details-form">
        <div>
            @* <h4>SanPham</h4>
            <hr /> *@
            <dl class="row">
                <dt class="col-sm-2">
                    Tên
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ten)
                </dd>
                <dt class="col-sm-2">
                    Mô tả
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Mota)
                </dd>
                <dt class="col-sm-2">
                    Đơn vị tính
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Donvitinh)
                </dd>
                <dt class="col-sm-2">
                    Đơn giá
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Dongia)
                </dd>
                <dt class="col-sm-2">
                    Phần trăm giảm giá
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhanTramGiamGia) &#37;
                </dd>
                <dt class="col-sm-2">
                    Giá giảm
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GiaSauGiamGia)
                </dd>
                <dt class="col-sm-2">
                    Số lượng kho
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Soluongkho)
                </dd>
                <dt class="col-sm-2">
                    Ngừng bán
                </dt>
                @* <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ngungban)
                </dd> *@
                <dd class="col-sm-10">
                    <input type="checkbox" style="display: inline-block;" disabled="disabled" @(Model.Ngungban ? "checked" : "") />
                </dd>
                <dt class="col-sm-2">
                    Loại sản phẩm
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LoaiSP.TenLoai)
                </dd>

            </dl>
        </div>
        <div>
            <a class="btn flosun-button secondary-btn theme-color rounded-0" asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
            <a class="btn flosun-button secondary-btn theme-color rounded-0" asp-action="Index">Quay lại</a>
        </div>
    </div>
</div>


