@model CuaHangHoa.Models.DichVu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="myaccount-content">
    <h3>Chi tiết dịch vụ</h3>
    <div class="account-details-form">
        <div>
            @* <h4>SanPham</h4>
            <hr /> *@
            <dl class="row">
                <dt class="col-sm-2">
                    Tên dịch vụ
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TenDV)
                </dd>
                <dt class="col-sm-2">
                    Mô tả
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Mota)
                </dd>
                <dt class="col-sm-2">
                    Giá
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Gia)
                </dd>                
                <dt class="col-sm-2">
                    Ngừng dịch vụ
                </dt>
                @* <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ngungban)
                </dd> *@
                <dd class="col-sm-10">
                    <input type="checkbox" style="display: inline-block;" disabled="disabled" @(Model.Ngungban ? "checked" : "") />
                </dd>                
            </dl>
        </div>
        <div>
            <a class="btn flosun-button secondary-btn theme-color rounded-0" asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
            <a class="btn flosun-button secondary-btn theme-color rounded-0" asp-action="Index">Quay lại</a>
        </div>
    </div>
</div>
