@model CuaHangHoa.ViewModels.LienHeListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pagination {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

        .pagination a {
            padding: 8px 16px;
            text-decoration: none;
            background-color: #f1f1f1;
            border: 1px solid #ddd;
            color: #000;
        }

            .pagination a:hover {
                background-color: #ddd;
            }

        .pagination .current-page {
            font-weight: bold;
            background-color: #000;
            color: white;
        }

</style>
<div class="myaccount-content">
    <h3>Thông tin khách liên hệ</h3>
    <div class="account-details-form">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Họ tên
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Mặt hàng quan tâm
                    </th>
                    <th>
                        Thông điệp
                    </th>
                    <th>
                        Ngày gửi
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Ghi chú
                    </th>
                    <th>
                        Nhân viên thực hiện
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LienHes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThongDiep)
                        </td>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.NgayGui) *@
                            @item.NgayGui
                        </td>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.TTLienHe) *@
                            @if (item.TTLienHe == TrangThaiLH.ChuaTuVan)
                            {
                                <span>Chưa tư vấn</span>
                            }                           
                            else
                            {
                                <span>Đã tư vấn</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GhiChu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenNhanVien)
                        </td>
                        <td>
                            @if (item.TTLienHe == TrangThaiLH.ChuaTuVan)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                            }
                             @* |
                            <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Phân trang -->
        <div class="pagination">
            <!-- Liên kết Trang Trước -->
            @if (Model.CurrentPage > 1)
            {
                <a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })">Trước</a>
            }

            <!-- Liên kết các Trang -->
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <a href="@Url.Action("Index", new { page = i })" class="@(i == Model.CurrentPage ? "current-page" : "")">@i</a>
            }

            <!-- Liên kết Trang Sau -->
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })">Sau</a>
            }
        </div>
    </div>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <script>
        window.onload = function () {
            alert(@Html.Raw(Json.Serialize(TempData["SuccessMessage"])));
        };
    </script>
}


