@model CuaHangHoa.ViewModels.PhieuXuatListViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<CuaHangHoa.Models.User> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var currentUser = await UserManager.GetUserAsync(User);
    bool isAdmin = currentUser != null && await UserManager.IsInRoleAsync(currentUser, "Admin");
}
<style>
    .pagination {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

        .pagination a {
            padding: 8px 16px;
            text-decoration: none;
            background-color: #f1f1f1;
            border: 1px solid #ddd;
            color: #000;
        }

            .pagination a:hover {
                background-color: #ddd;
            }

        .pagination .current-page {
            font-weight: bold;
            background-color: #000;
            color: white;
        }

</style>
<div class="myaccount-content">
    <h3>Danh sách phiếu xuất</h3>
    <div class="account-details-form">
        <table class="table">
            <thead>
                <tr>
                    <th>Người đặt</th>
                    <th>
                        Tên dịch vụ
                    </th>
                    <th>
                        Tổng số lượng
                    </th>
                    <th>
                        Ngày xuất
                    </th>
                    <th>
                        Phụ thu
                    </th>
                    <th>
                        Tổng tiền
                    </th>
                    <th>
                        Ghi chú
                    </th>
                    <th>Người xuất</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PhieuXuats)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.DangKyDichVu.User.UserName)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DangKyDichVu.DichVu.TenDV)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuongMatHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayXuat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhiPhatSinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TongTien)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GhiChu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Staff.LastName)
                            @Html.DisplayFor(modelItem => item.Staff.FirstName)
                            (@Html.DisplayFor(modelItem => item.Staff.UserName))
                        </td>
                        <td>
                            @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                            <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                            @if (isAdmin)
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id">| Xóa</a>
                            }
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Phân trang -->
        <div class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })">Trước</a>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <a href="@Url.Action("Index", new { page = i })" class="@(i == Model.CurrentPage ? "current-page" : "")">@i</a>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })">Sau</a>
            }
        </div>

    </div>
</div>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
